body{
    background-color: rgb(213, 182, 145);
}

#container{
    position: relative;
    margin:auto;
    margin-top: 55px;
    height: 40vw;
    width: 40vw;
    background-image: url(clock\ img.png);
    background-repeat: no-repeat;
    background-size :100%;
}

#hour, #minute, #second {
position: absolute;
border-radius: 10px;
transform-origin: bottom;
}
#hour{
width: 1.5%;
height: 23%;
top: 25%;
left: 49%;
background-color: black;


}
#minute{
    width: 1%;
    height: 30%;
    top: 20%;
    left: 49%; 
    background-color: black;

}
#second{
    width: 1%;
    height: 30%;
    top: 20%;
    left: 49%;
    background-color: red;
}